<div id="mikenavbar">
  <div id="holder">
    <ul>
      <li><a href="#">My Team Profile</a></li>
      <li><a href="#">Team Dashboard</a></li>
      <li><a href="#">View Teams</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Discussion Forum</a></li>
    </ul>
  </div>
</div>
<div id="biggscreen">
  <div class="leftSide">
    <h1>Team EcoFreaks</h1>
    <p>Description about the group</p>
    <div id="pcHolder"></div>
    <div id="VSteam">
      <p>Vote status of team:</p>
    </div>
    <div id="recentActivity">
      <h3>Recent Activity</h3>
      <ul>
        <li>Josh joined team</li>
        <li>Mavis posted on</li>
        <li>Alison joined</li>
      </ul>
    </div>
  </div>
  <div class="inbetween">
    <div id="wall">
      <div id="wallTitle">
        <h3>Team Wall/Discussion Board</h3>
      </div>
      <div>
        <table>
          <tr>
            <td>Text</td>
            <td>Media</td>
            <td>Poll</td>
          </tr>
        </table>
        <textarea type="text" placeholder="Write something..."></textarea>
      </div>
      <div class="wallPost">
        <h4>Josh posted:</h4>
        <p>what do you think of the Liberal's stance on bill C-51?</p>
      </div>
      <div class="wallPost">
        <h4>Alison posted:</h4>
        <p>Guys, remember to print your ID off this site: www.voterregistration.ca</p>
      </div>
    </div>
  </div>
  <div class="rightSide">
    <div id="membersBox">
      <div id="membersTitle">
        <h2>MEMBERS</h2>
      </div>
      <div>
        <div id="firstCol" class="teamphd">
          <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
          <p class="teamDesc">Alison Lotes</p>
          <p class="teamDesc">VOTED</p>
        </div>
        <div id="otherColCol" class="teamphd">
          <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
          <p class="teamDesc">Josh Willis</p>
          <p class="teamDesc">VOTED</p>
        </div>
        <div id="firstCol" class="teamphd">
          <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
          <p class="teamDesc">Alison Lotes</p>
          <p class="teamDesc">VOTED</p>
        </div>
        <div id="otherColCol" class="teamphd">
          <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
          <p class="teamDesc">Josh Willis</p>
          <p class="teamDesc">NOT VOTED</p>
        </div>
        <div id="firstCol" class="teamphd">
          <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
          <p class="teamDesc">Alison Lotes</p>
          <p class="teamDesc">NOT VOTED</p>
        </div>
        <div id="otherColCol" class="teamphd">
          <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
          <p class="teamDesc">Josh Willis</p>
          <p class="teamDesc">VOTED</p>
        </div>
        <div id="firstCol" class="teamphd">
          <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
          <p class="teamDesc">Alison Lotes</p>
          <p class="teamDesc">VOTED</p>
        </div>
        <div id="otherColCol" class="teamphd">
          <img src="http://28oa9i1t08037ue3m1l0i861.wpengine.netdna-cdn.com/wp-content/uploads/2014/07/half-stick-figure.png" alt="Face placeholder" class="teamimg">
          <p class="teamDesc">Josh Willis</p>
          <p class="teamDesc">NOT VOTED</p>
        </div>
      </div>
    </div>
  </div>
</div>