<p id="notice"><%= notice %></p>

<h1>Listing Teams</h1>

<div id="mikenavbar">
  <div id="holder">
    <ul>
      <li><a href="#">My Team Profile</a></li>
      <li><a href="#">Team Dashboard</a></li>
      <li><a href="#">View Teams</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Discussion Forum</a></li>
    </ul>
  </div>
</div>
<div id="biggscreen"></div>