<fieldset id="bigscreen">
  <legend>News Feed</legend>
  <h1 id="status">Post-of-the-week Status</h1>
  <p id="statusStatus">Incomplete</p>
  <div id="statusquestion">
    <p id="statusQtext">You have two unanswered survey questions</p>
  </div>
  <table>
    <tr>
      <th id="ttCaption">Trending this week</th>
    </tr>
    <tr>
      <td class="ttElement1">Should Muclair have a beard?</td>
      <td class="ttElement2"><button>Yes</button></td>
      <td class="ttElement2"><button>No</button></td>
      <td><a href="#" class="lmSpacing">Learn more</a></td>
    </tr>
    <tr>
      <td class="ttElement1">Should we invest more in hippos?</td>
      <td class="ttElement2"><button>Yes</button></td>
      <td class="ttElement2"><button>No</button></td>
      <td><a href="#" class="lmSpacing">Learn more</a></td>
    </tr>
    <tr>
      <td class="ttElement1">Should we invest more in wind turbines?</td>
      <td class="ttElement2"><button>Yes</button></td>
      <td class="ttElement2"><button>No</button></td>
      <td><a href="#" class="lmSpacing">Learn more</a></td>
    </tr>
  </table>
  <div id="lonf">
    <h4 class="adsTitle">Ads</h4>
    <div class="adsBlock" id="topAd"></div>
    <h4 class="adsTitle">Ads</h4>
    <div class="adsBlock"></div>
  </div>
  <fieldset id="smallNF">
    <legend>News Feed</legend>
    <div class="nfpost">
      <p>Your team member Alison posted on thread "ID Required for voting day"</p>
    </div>
    <div class="nfpost">
      <p>Micahel just shared video: Thomas Muclair, man of the hour</p>
    </div>
    <div class="nfpost">
      <p>News Blog Post: Top 10 sutes to understand issues affecting Youth</p>
    </div>
  </fieldset>
</fieldset>