<div class="row">
  <img src="<%= asset_path 'Whyvote_logo.jpg' %>" width = "100%"/>
</div>

<div class="row" id="navbarr">
  <div id="search-bar"><input type="text" placeholder="Search users/topics"></input></div>
  <a class="navbarr-elem" href="#">My Profile</a>
  <a class="navbarr-elem" href="#">Home</a>
  <a class="navbarr-elem" href="#">Teams</a>
  <a class="navbarr-elem" href="#">Current Policy Questions</a>
  <a class="navbarr-elem" href="#">Discussion Forums</a>
</div>

<div class="row">

  <div class = "large-3">
    <h3 style="background-color: #848484; color: #424242; width: 100%; padding: 0.9375rem; margin: 0; text-align: center;">News Articles</h3>
  </div>

  <div class = "large-3 panel">
    <img src="http://www.macleans.ca/wp-content/uploads/2014/02/Justin.Trudeau-300x300.jpg" width="40%" style="margin: 20px"/><a href="">Sample link 1</a>
    <img src="https://www.digitalgov.gov/files/2014/05/250-x-250-canadian-flag-3-canada.jpg" width="40%" style="margin: 20px"/><a href="">Sample link 2</a>
    <img src="https://d2ciprw05cjhos.cloudfront.net/files/v3/styles/gs_large/public/images/15/03/fkem1fqj_400x400.jpeg?itok=W_rsoA0Q" width="40%" style="margin: 20px"/><a href="">Sample link 3</a>
  </div>

  <div class="large-9" style="padding-top: 150px; padding-left: 50px;">

    <div id="firstCol">
      <img src="http://cdn.overclock.net/6/67/67efac74_face.jpeg" alt="Face placeholder" class="teamimg">
      <p class="teamDesc">TEAM ECO FREAKS</p>
      <p class="teamDesc">8 members</p>
      <p class="teamDesc">DONE: 70 surveys</p>
    </div>
    <div id="otherCol">
      <img src="http://cdn.overclock.net/6/67/67efac74_face.jpeg" alt="Face placeholder" class="teamimg">
      <p class="teamDesc">HIPPOS</p>
      <p class="teamDesc">8 members</p>
      <p class="teamDesc">DONE: 45 surveys</p>
    </div>
    <div id="otherCol">
      <img src="http://cdn.overclock.net/6/67/67efac74_face.jpeg" alt="Face placeholder" class="teamimg">
      <p class="teamDesc">TEAM RED</p>
      <p class="teamDesc">8 members</p>
      <p class="teamDesc">DONE: 23 surveys</p>
    </div>
    <div id="otherCol">
      <img src="http://cdn.overclock.net/6/67/67efac74_face.jpeg" alt="Face placeholder" class="teamimg">
      <p class="teamDesc">TEAM ORANGE</p>
      <p class="teamDesc">6 members</p>
      <p class="teamDesc">DONE: 15 surveys</p>
    </div>
    <div id="firstCol" class="teamphd">
      <img src="http://cdn.overclock.net/6/67/67efac74_face.jpeg" alt="Face placeholder" class="teamimg">
      <p class="teamDesc">TEAM ECO FREAKS</p>
      <p class="teamDesc">8 members</p>
      <p class="teamDesc">DONE: 14 surveys</p>
    </div>
    <div id="otherCol">
      <img src="http://cdn.overclock.net/6/67/67efac74_face.jpeg" alt="Face placeholder" class="teamimg">
      <p class="teamDesc">HIPPOS</p>
      <p class="teamDesc">8 members</p>
      <p class="teamDesc">DONE: 12 surveys</p>
    </div>
    <div id="otherCol">
      <img src="http://cdn.overclock.net/6/67/67efac74_face.jpeg" alt="Face placeholder" class="teamimg">
      <p class="teamDesc">TEAM RED</p>
      <p class="teamDesc">8 members</p>
      <button class="teamDesc joinButton">Join</button>
    </div>
    <div id="otherCol" class="teamphd">
      <img src="http://cdn.overclock.net/6/67/67efac74_face.jpeg" alt="Face placeholder" class="teamimg">
      <p class="teamDesc">TEAM ORANGE</p>
      <p class="teamDesc">6 members</p>
      <button class="teamDesc joinButton">Join</button>
    </div>
    <div id="firstCol">
      <img src="http://cdn.overclock.net/6/67/67efac74_face.jpeg" alt="Face placeholder" class="teamimg">
      <p class="teamDesc">TEAM ECO FREAKS</p>
      <p class="teamDesc">8 members</p>
      <button class="teamDesc joinButton">Join</button>
    </div>
    <div id="otherCol">
      <img src="http://cdn.overclock.net/6/67/67efac74_face.jpeg" alt="Face placeholder" class="teamimg">
      <p class="teamDesc">TEAM MONKEY</p>
      <p class="teamDesc">5 members</p>
      <button class="teamDesc joinButton">Join</button>
    </div>
    <div id="otherCol">
      <img src="http://cdn.overclock.net/6/67/67efac74_face.jpeg" alt="Face placeholder" class="teamimg">
      <p class="teamDesc">TEAM ECO FREAKS</p>
      <p class="teamDesc">5 members</p>
      <button class="teamDesc joinButton">Join</button>
    </div>
    <div id="otherCol">
      <img src="http://cdn.overclock.net/6/67/67efac74_face.jpeg" alt="Face placeholder" class="teamimg">
      <p class="teamDesc">TEAM ECO FREAKS</p>
      <p class="teamDesc">5 members</p>
      <button class="teamDesc joinButton">Join</button>
    </div>

  </div>