<head>
  <title>Example page</title>
</head>

<body>

<div class="large-8" style="margin: auto; margin-top: 2rem;">

  <div class="large-4 medium-4 columns">
    <ul class="pricing-table active-tb shadow mrgn-20-top">
      <li class="title">Me</li>
      <li class="bullet-item">
        </br><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpt1/v/t1.0-1/c72.29.576.576/11221772_10155705111515317_8331162300376917323_n.jpg?oh=bd34598affeb9dc5f944b4713131e3ee&oe=5626262E&__gda__=1445588267_5e767ef5b600a57a9a2b59b1f9ce53b1" width="50%" height="auto" style="border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;"/></br></br>
        <button><i class="fi-camera"></i>     Upload Photo</button>
      </li>
    </ul>
  </div>

  <div class="large-8 medium-8 columns">
    <ul class="pricing-table active-tb shadow mrgn-20-top" >
      <li class="title">About</li>
      <li class="bullet-item" style="text-align: left; margin: auto; padding: 1rem 2rem 1rem 2rem;">
        <b>Tell people a little about who you are.</b><br></br>
        <form>
          <div class="large-4 medium-4 columns">
            <label>First name:</label></br></br>
          </div>
          <div class="large-8 medium-8 columns">
            <input type="text" id="enterInfo" placeholder="First">
          </div>

          <div class="large-4 medium-4 columns">
            <label>Last name:</label></br></br>
          </div>
          <div class="large-8 medium-8 columns">
            <input type="text" id="enterInfo" placeholder="Last">
          </div>

          <div class="large-4 medium-4 columns">
            <label>Program:</label></br></br>
          </div>
          <div class="large-8 medium-8 columns">
            <input type="text" id="enterInfo" placeholder="E.g. Mechanical Engineering"></br>
          </div>

          <div class="large-4 medium-4 columns">
            <label>Time:</label></br></br>
          </div>
          <div class="large-8 medium-8 columns">
            <select>
              <option value="default_start">Start</option>
              <option value="2008">2008</option>
              <option value="2009">2009</option>
              <option value="2010">2010</option>
              <option value="2011">2011</option>
              <option value="2012">2012</option>
              <option value="2013">2013</option>
              <option value="2014">2014</option>
              <option value="2015">2015</option>
            </select>
            to
            <select>
              <option value="default_end">End</option>
              <option value="2016">2016</option>
              <option value="2017">2017</option>
              <option value="2018">2018</option>
              <option value="2019">2019</option>
              <option value="2020">2020</option>
            </select>
            (expected)
          </div>

          <div class="large-3 medium-3 columns">
            <label>About You:</label></br></br>
          </div>
          <div class="large-8 medium-8 columns" style="float: right;">
            <textarea style="width:100%; height: 10rem;" id="enterInfo" placeholder="E.g. I am passionate about climate change."></textarea>
          </div>
        </form>
        <div class="row"><b>Account settings:</b><br></br></div>
        <form>
          <div class="large-4 medium-4 columns">
            <label>Email:</label></br></br>
          </div>
          <div class="large-8 medium-8 columns">
            <input type="text" name="email"  id="enterInfo" placeholder="E.g. example@email.com"></input>
          </div>

          <div class="large-4 medium-4 columns">
            <label>Password:</label></br></br>

          </div>
          <div class="large-8 medium-8 columns">
            <input type="password" name="password" id="enterInfo"></input>
            <a style="font-size: 0.7rem; padding-bottom: 1.5rem;" href="/">
              Forgot your password?</a></br></br>
          </div>

          <div class="large-4 medium-4 columns">
            <label>New Password:</label></br></br>
          </div>
          <div class="large-8 medium-8 columns">
            <input type="password" name="password" id="enterInfo"></input>
          </div>
          <div class="large-4 medium-4 columns">
            <label>Verify Password:</label></br></br>
          </div>
          <div class="large-8 medium-8 columns">
            <input type="password" name="password" id="enterInfo"></input>
          </div>

          <button>Save Profile</button>

        </form>
      </li>
    </ul>
  </div>


</div>

</body>