<style>
    body{background-color: #000; background-image: none;}
</style>

<head>
  <title>About whyVOTE Team</title>

</head>
<style>body {background-color: #000}</style>
<body>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
<script src="toggle.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".about-us").hide();
        $(".about-image").click(function(){
            $(this).next('.about-us').slideToggle(250);
            return true;
        });
    });
</script>

<div class="home-background">
  <div class="large-6-about">
    <div id="about-sidebar">
      <a href="/pages/about_whyvote">About</a></br>
      <a href="/pages/about_method">Methodology</a></br>
      Team
    </div>
    <div class="about-heading"><i>The whyVOTE team</i></div>



    <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2">
      <li id ="mavis">
        <div class="about-image">
          <img src="<%= asset_path 'mavis.jpg' %>" />
          <h4>Mavis Chan</h4><h5><i>Founder and CEO</i></h5>
        </div>
        <div class="about-us">
          Mavis founded whyVOTE in May of 2015 due to a passion for bridging the gap between youth and politics.
          She brings experience in marketing and engagement, social and economic policy,
          and is responsible for overseeing the strategic goals for whyVOTE. Mavis is in 4A Environment and Business,
          and in her spare time enjoys writing and analyzing people.
        </div>
      </li>

      <li id ="madigan">
        <div class="about-image">
          <img src="<%= asset_path 'madigan.jpg' %>" />
          <h4>Madigan Kim</h4><h5><i>Technical Project Lead</i></h5>
        </div>
        <div class="about-us">
          Madigan is in the midst of completing her Computer Science degree at the University of Waterloo.
          She has dabbled in iOS programming, full-stack web development, and user interface design.
          As technical project lead of whyVOTE, she puts her experiences to use and manages the whyVOTE dev team.
          When not coding, Madigan enjoys crossword puzzles, programming blogs, and playing violin when no one is around.
        </div>
      </li>

      <li id="mike">
        <div class="about-image">
          <img src="<%= asset_path 'mike.jpg' %>" />
          <h4>Mike Starr</h4><h5><i>Front End Developer</i></h5>
        </div>
        <div class="about-us">
          Mike is a second year Management Engineering student at the University of Waterloo.
          In the process of designing and building the whyVOTE website, he was able to educate himself on Canadian
          politics in the process, which has always been an area of great interest for him.
        </div>
      </li>

      <li id="ashley">
        <div class="about-image">
          <img src="<%= asset_path 'ashley.jpg' %>" />
          <h4>Ashley Wu</h4><h5><i>Front End Developer</i></h5>
        </div>
        <div class="about-us">
          Ashley is a second year Mechanical Engineering student at the University of Waterloo,
          seeking to increase youth engagement in Canadian politics. She dpes front end development for the whyVOTE website.
          Ashley hopes that the student-centric community of whyVOTE can encourage voting turnout.
          Her interests include discovering new music, reading, and eating.
        </div>
      </li>
    </ul>
  </div>
</div>
</body>
