<style>
    body{background-color: #000; background-image: none;}
</style>

<head>
  <title>About whyVOTE</title>
</head>

<body>

<div class="home-background">
  <div class="large-6-about">
    <div id="about-sidebar">
      About</br>
      <a href="/pages/about_method">Methodology</a></br>
      <a href="/pages/about_team">Team</a>
    </div>
    <div class="about-heading"><i>About whyVOTE</i></div>
    <b>whyVOTE</b> is a social media platform for politics.
    <br><br>The platform provides young Canadians everything they need to know about an upcoming election and allows them to compare views with friends.

    <br><br> Based out of the University of Waterloo, we are a startup piloting for the 2015 Federal Election (October 19, 2015). The current beta version of our platform is accessible to any student enrolled at the University of Waterloo.</br>
    <br>In addition to providing young Canadians a central platform for elections information, whyVOTE also collects data on the youth opinion to provide to policy-influencers. </br></br></br>
   Connect with us on <a href="https://www.facebook.com/groups/whyvote/">Facebook</a> and <a href="https://twitter.com/whyvote_">Twitter.</a>
  </div>
</div>
</body>
