<style>
    body{background-color: #000; background-image: none;}
</style>


<head>
  <title>About whyVOTE</title>
</head>

<body>

<div class="home-background" style="font-size:1rem;">
  <div class="large-6-about">
    <div id="about-sidebar">
      <a href="/pages/about_whyvote">About</a></br>
      Methodology</br>
      <a href="/pages/about_team">Team</a>
    </div>
    <div class="about-heading">Survey Creation Methodology:</div>
    </br>In June 2015, we polled a sample of over 200 University of Waterloo students to determine policy topics of most interest to students.</br>These include (in order of popularity):
<ol style="font-size:1rem;">
  <br>
  <li>Electoral reform</li>
  <li>Combatting climate change</li>
  <li>Combatting terrorist threads</li>
  <li>Military spending</li>
  <li>Employment and skills training</li>
  <li>Post-secondary issues</li>
  <li>Economic stimulus</li>
  <li>Tax policy</li>
  <li>International trade</li>
</ol>
We created the survey based on these 9 topics. Research was done by the whyVOTE team utilizing various media and government sources.</br></br><b>Disclaimer:</b> </br>Although we try our best to be non-partisan and as accurate as possible with our information, we do not guarantee all policies and issues are presented 100% accurately.Please do not hesitate to contact us if you see any errors or mistakes in our work.</br>
