<head>
  <title>Example page</title>
</head>

<body>

<div class="large-8" style="margin: auto; margin-top: 2rem;">

  <div class="large-4 medium-4 columns">
    <ul class="pricing-table active-tb shadow mrgn-20-top">
      <li class="title">Mavis Chan </li>
      <li class="bullet-item">
        </br><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpt1/v/t1.0-1/c72.29.576.576/11221772_10155705111515317_8331162300376917323_n.jpg?oh=bd34598affeb9dc5f944b4713131e3ee&oe=5626262E&__gda__=1445588267_5e767ef5b600a57a9a2b59b1f9ce53b1" width="50%" height="auto" style="border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;"/></br></br>
        <h4 style="text-shadow: 1px 1px 1px #fff, 1px 1px 0px #000;">
          <a href="/members/friend_profile">Mavis Chan</a>
        </h4>
        Environment and business</br>
        2011-2016 (Expected)</br>
      </li>
    </ul>
  </div>

  <div class="large-8 medium-8 columns">
    <ul class="pricing-table active-tb shadow mrgn-20-top">
      <li class="title">Mavis' Survey Results</li>
      <li class="bullet-item">
        <div class="large-5" style="font-size: 0.75rem; text-align: center; display: inline-block; line-height:1rem;">
          Mavis' views align most closely with:</br></br>
          <div class="political-measure big"></br>76%</div></br>
          <h5 style="text-shadow: 1px 1px 1px #fff, 1px 1px 0px #000;"></br>Liberatarian</h5>
          See completed survey. </br>Last polled 07/07/15
        </div>
        <div class="large-5" style="font-size: 0.75rem; text-align: center; display: inline-block; line-height:1rem;">
          <div class="political-measure small" style="border-color: sandybrown; margin: 0.5rem;">
            </br>54%
            <h6></br></br>
                                    <span style="text-shadow: 1px 1px 1px #fff, 1px 1px 0px #000; font-size: 0.8rem; ">
                                        NDP
                                    </span>
            </h6>
          </div>

          <div class="political-measure small" style="border-color: lightcoral; margin: 0.5rem;">
            </br>48%
            <h6></br></br>
                                    <span style="text-shadow: 1px 1px 1px #fff, 1px 1px 0px #000; font-size: 0.8rem; ">
                                        Liberal
                                    </span>
            </h6>
          </div>

          <div class="political-measure small" style="border-color: #2f8731; margin: 0.5rem;">
            </br>36%
            <h6></br></br>
                                    <span style="text-shadow: 1px 1px 1px #fff, 1px 1px 0px #000; font-size: 0.8rem; ">
                                        Green
                                    </span>
            </h6>
          </div>

          <div class="political-measure small" style="border-color: cornflowerblue; margin: 0.5rem;">
            </br>23%
            <h6></br></br>
                                    <span style="text-shadow: 1px 1px 1px #fff, 1px 1px 0px #000; font-size: 0.8rem; ">
                                        Conservative
                                    </span>
            </h6>
          </div>


        </div>
      </li>
    </ul>
  </div>

  <div class="large-12 columns">
    <ul class="pricing-table active-tb shadow mrgn-20-top" style="margin-top:3rem;">
      <li class="title">Mavis' Friends</li>
      <li class="bullet-item">
        <ul class="small-block-grid-1 medium-block-grid-2">
          <li>
                        <span class="friend-pic">
                            <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" />
                            <span class="friend-pic">
                                <b>Waka Flocka Flame</b></br>
                              <span style="color: green">VERY SIMILAR</span>
                              </br>72% Liberatarian
                            </span>
                            <div class="political-measure smallest" style="border-color: blue; vertical-align: -0.25rem">
                              </br>72%
                            </div>
                        </span>
          </li>
          <li>
                        <span class="friend-pic">
                            <img src="http://cdn.watchloud.com/wp-content/uploads/2014/07/whodat-waka-flocka-flame.jpg" />
                            <span class="friend-pic">
                                <b>Waka Flocka Flame</b></br>
                              <span style="color: cornflowerblue">SIMILAR</span>
                              </br>62% Liberatarian
                            </span>
                            <div class="political-measure smallest" style="border-color: blue; vertical-align: -0.25rem">
                              </br>62%
                            </div>
                        </span>
          </li>
          <li>
                         <span class="friend-pic">
                            <img src="http://theversed.com/wp-content/uploads/2013/04/Waka-Flocka-Flame.jpg" />
                            <span class="friend-pic">
                                <b>Waka Flocka Flame</b></br>
                              <span style="color: cornflowerblue">SIMILAR</span>
                              </br>60% Liberatarian
                                </span>
                            <div class="political-measure smallest" style="border-color: blue; vertical-align: -0.25rem">
                              </br>60%
                            </div>
                        </span>
          </li>
          <li>
                        <span class="friend-pic">
                            <img src="http://theversed.com/wp-content/uploads/2013/04/Waka-Flocka-Flame.jpg" />
                            <span class="friend-pic">
                                <b>Waka Flocka Flame</b></br>
                              <span style="color: cornflowerblue">SIMILAR</span>
                              </br>60% Liberatarian
                                </span>
                            <div class="political-measure smallest" style="border-color: blue; vertical-align: -0.25rem">
                              </br>60%
                            </div>
                        </span>
          </li>
          <li>
                        <span class="friend-pic">
                            <img src="http://theversed.com/wp-content/uploads/2013/04/Waka-Flocka-Flame.jpg" />
                            <span class="friend-pic">
                                <b>Waka Flocka Flame</b></br>
                              <span style="color: cornflowerblue">SIMILAR</span>
                              </br>60% Liberatarian
                                </span>
                            <div class="political-measure smallest" style="border-color: blue; vertical-align: -0.25rem">
                              </br>60%
                            </div>
                        </span>
          </li>
          <li>
                        <span class="friend-pic">
                            <img src="http://theversed.com/wp-content/uploads/2013/04/Waka-Flocka-Flame.jpg" />
                            <span class="friend-pic">
                                <b>Waka Flocka Flame</b></br>
                              <span style="color: cornflowerblue">SIMILAR</span>
                              </br>60% Liberatarian
                                </span>
                            <div class="political-measure smallest" style="border-color: blue; vertical-align: -0.25rem">
                              </br>60%
                            </div>
                        </span>
          </li>
          <li>
                        <span class="friend-pic">
                            <img src="http://theversed.com/wp-content/uploads/2013/04/Waka-Flocka-Flame.jpg" />
                            <span class="friend-pic">
                                <b>Waka Flocka Flame</b></br>
                              <span style="color: cornflowerblue">SIMILAR</span>
                              </br>60% Liberatarian
                                </span>
                            <div class="political-measure smallest" style="border-color: blue; vertical-align: -0.25rem">
                              </br>60%
                            </div>
                        </span>
          </li>
          <li>
                        <span class="friend-pic">
                            <img src="http://theversed.com/wp-content/uploads/2013/04/Waka-Flocka-Flame.jpg" />
                            <span class="friend-pic">
                                <b>Waka Flocka Flame</b></br>
                              <span style="color: cornflowerblue">SIMILAR</span>
                              </br>60% Liberatarian
                                </span>
                            <div class="political-measure smallest" style="border-color: blue; vertical-align: -0.25rem">
                              </br>60%
                            </div>
                        </span>
          </li>
        </ul>

    </ul>
  </div>
</div>

</body>