<!DOCTYPE html>
<html>
<head>
  <title>Mailer - Complete Survey</title>
</head>

<body>
<fieldset style="border: 1px solid black; width: 60%; margin-left: auto; margin-right: auto; padding: none; background: white; margin-top: 10%;">
  <legend>COMPLETE SURVEY NOW</legend>

  <div style="padding-left: 75px;">
    <img src="<%= asset_path 'check_mark.jpg' %>" style="float: left; margin-right: 15px; height: 3%; width: 3%;"><p>Your account is officially registered.</p><br>
    <p style="margin-left: 45px;">To start using whyVOTE:</p>
    <p style="margin-left: 45px;">Click on the link below to determine which party you align with.</p>
    <button>
      Survey for 2015 Canadian Federal Election
    </button>
  </div>

</fieldset>
</body>
</html>