<!DOCTYPE html>
<html>
<head>
  <title>Mailer - Confirm Email</title>
</head>

<body>
<fieldset style="border: 1px solid black; width: 60%; margin-left: auto; margin-right: auto; padding: none; background: white; margin-top: 10%;">
  <legend>CONFIRM EMAIL</legend>

  <div style="padding-left: 75px;">
    <p>Thank you for joining whyVOTE, your soial media platform for politics.</p><br>
    <p>Your sign-in details:</p>
    <p>Email:__________________________________________</p><br>
    <p>Please click on the link below to confirm your email address.</p>
    <button>Confirm</button><br>
    <p>How to get the most out of whyVOTE:</p>
    <ul>
      <li><p>Find out about most current political issues.</p></li>
      <li><p>Determine where you stand compared to political parties.</p></li>
      <li><p>Compare results with friends.</p></li>
    </ul>
  </div>

</fieldset>
</body>
</html>