<!DOCTYPE html>
<html>
<head>
  <title>Mailer - Error</title>
</head>

<body>
<fieldset style="border: 1px solid black; width: 60%; margin-left: auto; margin-right: auto; padding: none; background: white; margin-top: 10%;">
  <legend>ERROR</legend>

  <div style="padding-left: 75px;">
    <br><p><b>! You have not completed enough questions to generate a result.</b></p>
    <button><< Go back</button>
  </div>

</fieldset>
</body>
</html>