<!DOCTYPE html>
<html>
<head>
  <title>Mailer - Friend Request Accepted</title>
</head>

<body>
<fieldset style="border: 1px solid black; width: 60%; margin-left: auto; margin-right: auto; padding: none; background: white; margin-top: 10%;">
  <legend>FRIEND REQUEST - CONFIRMED</legend>

  <div style="padding-left: 75px;">
    <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" style="width: 12%; height: 12%; float: left; margin-right: 30px;">
    <p><b>Mavis has accepted your friend request.</b></p>
    <button style="width: 250px; background: #D83431; margin-right: 15px; margin-top: 120px; font-size: 18px;">Compare Results</button>
    <button style="width: 250px; background: #7A7A7A; font-size: 18px;">View Mavis' Profile</button>
  </div>

</fieldset>
</body>
</html>