<!DOCTYPE html>
<html>
<head>
  <title>Mailer - whyVOTE invite</title>
</head>

<body>
<fieldset style="border: 1px solid black; width: 60%; margin-left: auto; margin-right: auto; padding: none; background: white; margin-top: 10%;">
  <legend>JOIN whyVOTE - Invite from Eric Lam</legend>

  <div style="padding-left: 75px;">
    <img src="http://ccdn.hiphopdx.com/2012/08/1-Waka_Flocka-MMG-hhdx-300x300.jpg" style="width: 12%; height: 12%; float: left; margin-right: 30px;">
    <p>Your friend <b style="font-size: 26px;">Eric Lam</b> has invited you to join whyVOTE, a social media platform for politics.</p>
    <p>whyVOTE aims to provide young Canadians everything they need to know about an upcoming election.</p>
    <button style="width: 200px; background: #D83431; margin-right: 15px; margin-top: 10px; font-size: 18px;">Join now</button>
    <button style="width: 400px; background: #7A7A7A; font-size: 18px;">Connect with us on Facebook</button>
    <p style="margin-left: 150px; margin-top: 10px;">Using whyVOTE you can</p>
    <ul style="margin-left: 175px;">
      <li><p>Find out about most current political issues.</p></li>
      <li><p>Determine where you stand compared to political parties.</p></li>
      <li><p>Compare results with friends.</p></li>
    </ul>
  </div>

</fieldset>
</body>
</html>