
<head>
  <title>Example page</title>
</head>

<body>

<div class="large-8" style="margin: auto; margin-top: 2rem;">

  <div class="large-4 medium-4 columns">
    <ul class="pricing-table active-tb shadow mrgn-20-top" >
      <li class="title">Mavis Chan</li>
      <li class="bullet-item" style="height:40vh;">
        </br><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpt1/v/t1.0-1/c72.29.576.576/11221772_10155705111515317_8331162300376917323_n.jpg?oh=bd34598affeb9dc5f944b4713131e3ee&oe=5626262E&__gda__=1445588267_5e767ef5b600a57a9a2b59b1f9ce53b1" width="50%" height="auto" style="border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;"/></br></br>
        <h4 style="text-shadow: 1px 1px 1px #fff, 1px 1px 0px #000;">
          <a href="/members/stranger_profile">Mavis Chan</a>
        </h4>
        <button style="background-color: #f4f4f4; color: #6f6f6e; display: block; margin: auto;">
          <span style="font-size: 1.2rem; line-height: 0.6rem; vertical-align: middle;">+</span> Add Friend
        </button>
      </li>
    </ul>
  </div>

  <div class="large-8 medium-8 columns">
    <ul class="pricing-table active-tb shadow mrgn-20-top">
      <li class="title">Mavis' Survey Results</li>
      <li class="bullet-item"  style="height:40vh;">
        Do you know Mavis?</br>
        <i class="fi-alert" style="font-size: 10em; color: #eee; text-shadow: 1px 3px 3px #7f7f7f;"></i>
        <h5>Mavis' results are private.</h5>
        </br>Add Mavis as a friend to compare results.
      </li>
    </ul>
  </div>

  <div class="large-12 columns">
    <ul class="pricing-table active-tb shadow mrgn-20-top" style="margin-top:3rem;">
      <li class="title">Mavis' Friends</li>
      <li class="bullet-item">
        <ul class="small-block-grid-2 medium-block-grid-6 large-block-grid-6" style="margin:0.5rem; text-align: left;">
          <li>
            <div class="friend-pic" style="vertical-align: middle;">
              <img src="http://gazettereview.com/wp-content/uploads/2015/04/Candidate.jpg" />                                               </div>
          </li>
          <li>
                            <span class="friend-pic" style="height:30%; margin-top: 30%;">
                                <b>Waka Flocka Flame</b>
                                <button style="background-color: #f4f4f4; color: #6f6f6e; margin-top:5%; display: block;">
                                  <i class="fi-check"></i>   Friends
                                </button>                                   
                            </span>
          </li>
          <li>
            <div class="friend-pic" style="vertical-align: middle;">
              <img src="http://gazettereview.com/wp-content/uploads/2015/04/Candidate.jpg" />                                               </div>
          </li>
          <li>
                            <span class="friend-pic" style="height:30%; margin-top: 30%;">
                                <b>Waka Flocka Flame</b>
                                <button style="background-color: #f4f4f4; color: #6f6f6e; margin-top:5%; display: block;">
                                  <i class="fi-check"></i>   Friends
                                </button>                                   
                            </span>
          </li>
          <li>
            <div class="friend-pic" style="vertical-align: middle;">
              <img src="http://gazettereview.com/wp-content/uploads/2015/04/Candidate.jpg" />                                               </div>
          </li>
          <li>
                            <span class="friend-pic" style="height:30%; margin-top: 30%;">
                                <b>Waka Flocka Flame</b>
                                <button style="background-color: #f4f4f4; color: #6f6f6e; margin-top:5%; display: block;">
                                  <i class="fi-check"></i>   Friends
                                </button>                                   
                            </span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</body>
