<head>
  <title>Example page</title>
</head>

<body>

<div class="large-8" style="margin: auto; margin-top: 2rem;">
  <div class="large-12 columns">
    <ul class="pricing-table active-tb shadow mrgn-20-top" style="margin-top:3rem;">
      <li class="title">Users</li>
      <li class="bullet-item">
        <div id="navBar"><b>Total users (271)</b>
          <form method="get" action="search.php">
            <i class="fi-magnifying-glass" style="position: absolute; margin-left:1rem; margin-top:.4rem; color: #727272;"></i>
            <input id="searchBox" type="text" placeholder="Find a user">
            <a href="#" class="button tiniest"><span style="font-size:1.1rem; vertical-align: middle">+</span>  Add People</a>

          </form>
        </div>
        <ul class="small-block-grid-2 medium-block-grid-6 large-block-grid-6" style="margin:0.5rem; text-align: left;">
          <li>
            <div class="friend-pic" style="vertical-align: middle;">
              <img src="http://gazettereview.com/wp-content/uploads/2015/04/Candidate.jpg" />                                               </div>
          </li>
          <li>
                            <span class="friend-pic" style="height:30%; margin-top: 30%;">
                                <b>Waka Flocka Flame</b>
                                <button style="background-color: #f4f4f4; color: #6f6f6e; margin-top:5%; display: block;">
                                  <i class="fi-check"></i>   Friends
                                </button>                                   
                            </span>
          </li>
          <li>
            <div class="friend-pic" style="vertical-align: middle;">
              <img src="http://gazettereview.com/wp-content/uploads/2015/04/Candidate.jpg" />                                               </div>
          </li>
          <li>
                            <span class="friend-pic" style="height:30%; margin-top: 30%;">
                                <b>Waka Flocka Flame</b>
                                <button style="background-color: #f4f4f4; color: #6f6f6e; margin-top:5%; display: block;">
                                  <i class="fi-check"></i>   Friends
                                </button>                                   
                            </span>
          </li>
          <li>
            <div class="friend-pic" style="vertical-align: middle;">
              <img src="http://gazettereview.com/wp-content/uploads/2015/04/Candidate.jpg" />                                               </div>
          </li>
          <li>
                            <span class="friend-pic" style="height:30%; margin-top: 30%;">
                                <b>Waka Flocka Flame</b>
                                <button style="background-color: #f4f4f4; color: #6f6f6e; margin-top:5%; display: block;">
                                  <i class="fi-check"></i>   Friends
                                </button>                                   
                            </span>
          </li>
          <li>
            <div class="friend-pic" style="vertical-align: middle;">
              <img src="http://gazettereview.com/wp-content/uploads/2015/04/Candidate.jpg" />                                               </div>
          </li>
          <li>
                            <span class="friend-pic" style="height:30%; margin-top: 30%;">
                                <b>Waka Flocka Flame</b>
                                <button style="background-color: #f4f4f4; color: #6f6f6e; margin-top:5%; display: block;">
                                  Requested
                                </button>                                   
                            </span>
          </li>
          <li>
            <div class="friend-pic" style="vertical-align: middle;">
              <img src="http://gazettereview.com/wp-content/uploads/2015/04/Candidate.jpg" />                                               </div>
          </li>
          <li>
                            <span class="friend-pic" style="height:30%; margin-top: 30%;">
                                <b>Waka Flocka Flame</b>
                                <button style="background-color: #f4f4f4; color: #6f6f6e; margin-top:5%; display: block;">
                                  <span style="font-size: 1.2rem; line-height: 0.6rem; margin-right: 0.2rem;">+</span>
                                  Add Friend
                                </button>                                   
                            </span>
          </li>
          <li>
            <div class="friend-pic" style="vertical-align: middle;">
              <img src="http://gazettereview.com/wp-content/uploads/2015/04/Candidate.jpg" />                                               </div>
          </li>
          <li>
                            <span class="friend-pic" style="height:30%; margin-top: 30%;">
                                <b>Waka Flocka Flame</b>
                                <button style="background-color: #f4f4f4; color: #6f6f6e; margin-top:5%; display: block;">
                                  <span style="font-size: 1.2rem; line-height: 0.6rem; margin-right: 0.2rem;">+</span>
                                  Add Friend
                                </button>                               
                            </span>
          </li>
          <li>
            <div class="friend-pic" style="vertical-align: middle;">
              <img src="http://gazettereview.com/wp-content/uploads/2015/04/Candidate.jpg" />                                               </div>
          </li>
          <li>
                            <span class="friend-pic" style="height:30%; margin-top: 30%;">
                                <b>Waka Flocka Flame</b>
                                <button style="background-color: #f4f4f4; color: #6f6f6e; margin-top:5%; display: block;">
                                  <span style="font-size: 1.2rem; line-height: 0.6rem; margin-right: 0.2rem;">+</span>
                                  Add Friend
                                </button>                                  
                            </span>
          </li>
          <li>
            <div class="friend-pic" style="vertical-align: middle;">
              <img src="http://gazettereview.com/wp-content/uploads/2015/04/Candidate.jpg" />                                               </div>
          </li>
          <li>
                            <span class="friend-pic" style="height:30%; margin-top: 30%;">
                                <b>Waka Flocka Flame</b>
                                <button style="background-color: #f4f4f4; color: #6f6f6e; margin-top:5%; display: block;">
                                  <span style="font-size: 1.2rem; line-height: 0.6rem; margin-right: 0.2rem;">+</span>
                                  Add Friend
                                </button>                         
                            </span>
          </li>
          <li>
            <div class="friend-pic" style="vertical-align: middle;">
              <img src="http://gazettereview.com/wp-content/uploads/2015/04/Candidate.jpg" />                                               </div>
          </li>
          <li>
                            <span class="friend-pic" style="height:30%; margin-top: 30%;">
                                <b>Waka Flocka Flame</b>
                                <button style="background-color: #f4f4f4; color: #6f6f6e; margin-top:5%; display: block;">
                                  <span style="font-size: 1.2rem; line-height: 0.6rem; margin-right: 0.2rem;">+</span>
                                  Add Friend
                                </button>                                   
                            </span>
          </li>


        </ul>
      </li>

    </ul>
  </div>
</div>

</body>