// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.political-measure{
  margin: auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: transparent;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.5), inset 2px 2px 4px rgba(0,0,0,.5);
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 4px rgba(0,0,0,.5);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), inset 2px 2px 4px rgba(0,0,0,.5);
  text-shadow: 2px 2px 1px #fff, 2px 2px 2px #000;
  display: inline-block;

}
.big{
  width: 7.5rem;
  height: 7.5rem;
  border: 0.5rem solid blue;
  font-size: 2.5rem;
  line-height: 1.5rem;
}

.small{
  width: 5rem;
  height: 5rem;
  border: 0.4rem solid;
  font-size: 1.5rem;
  line-height: 1.2rem;
  margin-bottom:2rem;
}

.smallest{
  width: 4.5rem;
  height: 4.5rem;
  border: 0.4rem solid;
  font-size: 1.2rem;
  line-height: 1.3rem;
  text-align: center;
}

.friend-pic{
  font-size: 0.8rem;
  line-height:1.2rem;
  display: inline-block;
}

.friend-pic span{
  vertical-align: middle;
  text-align: left;
  margin-right: 1rem;
  width:10rem;
}

.friend-pic img{
  width: 7rem;
  height: auto;
  border-radius: 5%;
  -moz-border-radius: 5%;
  -webkit-border-radius: 5%;
  margin-right: 0.5rem;
}