<head>
  <title>Friend's profile</title>
</head>

<body>

<div class="large-8" style="margin: auto;">
  <div class="large-12" style="margin-top: 2rem;">
    <ul class="pricing-table active-tb shadow mrgn-20-top">
      <li class="title">About Mavis</li>
      <li class="bullet-item" style="font-size: 1rem;">
        <div style="display: inline-block; vertical-align: top; width: 28%; "></br>
          <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpt1/v/t1.0-1/c72.29.576.576/11221772_10155705111515317_8331162300376917323_n.jpg?oh=bd34598affeb9dc5f944b4713131e3ee&oe=5626262E&__gda__=1445588267_5e767ef5b600a57a9a2b59b1f9ce53b1" width="100%" height="auto" style="border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;"/></br></br></br>
          You are friends with Mavis.</br></br>
          <button style="background-color: #f4f4f4; color: #6f6f6e;">
            <i class="fi-check"></i>   Friends
          </button>
        </div>
        <div style="display: inline-block; text-align: left; width:58%; margin-left:4%;">
          </br>
          <h2 style="text-shadow: 1px 1px 1px #fff, 1px 1px 0px #000;">
            Mavis Chan&nbsp;
          </h2>
          <h5>University of Waterloo</h5>
                           <span style="color: #7c7c7c;">
                               Environment and business&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;2011-2016 (Expected)
                           </span></br></br></br></br>

          <span>More details</span>
          <div style="width: 80%; height: 0.5px; background-color: black; display: inline-block; vertical-align: 0.35em; margin-left:0.5rem;"></div>
          <div style="color: #7c7c7c; text-align: justify;">
            </br></br>Rick Mercer is my idol.
            </br>Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem IpsomLorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem IpsomLorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem IpsomLorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem IpsomLorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem IpsomLorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem IpsomLorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom Lorem Ipsom

          </div></br></br>

        </div>
      </li>

    </ul>
  </div>


</div>

</body>