<head>
  <title>Example page</title>
</head>

<body>
<div class="large-8" style="margin: auto; margin-top: 2rem;">

  <div class="large-4 medium-4 columns">
    <ul class="pricing-table active-tb shadow mrgn-20-top">
      <li class="title">Me</li>
      <li class="bullet-item">
        </br><img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpt1/v/t1.0-1/c72.29.576.576/11221772_10155705111515317_8331162300376917323_n.jpg?oh=bd34598affeb9dc5f944b4713131e3ee&oe=5626262E&__gda__=1445588267_5e767ef5b600a57a9a2b59b1f9ce53b1" width="50%" height="auto" style="border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;"/></br></br>
        <h4 style="text-shadow: 1px 1px 1px #fff, 1px 1px 0px #000;">
          Name&nbsp;<a href="/"><i class="fi-pencil" style="font-size: 0.7rem;"></i></a>
        </h4>
        Program&nbsp;<a href="/"><i class="fi-pencil" style="font-size: 0.7rem;"></i></a></br>
        Year&nbsp;<a href="/"><i class="fi-pencil" style="font-size: 0.7rem;"></i></a></br>
      </li>
    </ul>
  </div>

  <div class="large-8 medium-8 columns">
    <ul class="pricing-table active-tb shadow mrgn-20-top">
      <li class="title">My Survey Results</li>
      <li class="bullet-item"><br>
        <div class="large-7" style="font-size: 0.75rem; text-align: center; display: inline-block; line-height:1rem; padding-bottom: 3%;">
          You have not yet completed the survey.</br></br>
          <div class="political-measure big" style="border-color: #eee;"></br>?</div></br>
          <h5 style="text-shadow: 1px 1px 1px #fff, 1px 1px 0px #000; padding-top: 3%;"></br>Your Political Match</h5><br>
          <span style="font-size:0.7rem;">Complete survey to see which party you align with the most.</span>
        </div>
        <div class="large-3" style="font-size: 0.75rem; text-align: center; display: inline-block; line-height:1rem;">
          <button style="float: right; margin-top:2rem; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; width: 70%;">Go to survey >></button>
        </div>
      </li>
    </ul>
  </div>

  <div class="large-12 columns">
    <ul class="pricing-table active-tb shadow mrgn-20-top" style="margin-top:3rem;">
      <li class="title">My Friends</li>
      <li class="bullet-item">
        <div id="navBar"><b>You currently have no friends. Find or invite friends.</b></div>
      </li>

      <li class="bullet-item">
        <ul class="small-block-grid-2">
          <li style="position: relative; text-align: right; padding-right:2rem; vertical-align: middle;">
                              <span>
                                See which of your friends are using whyVOTE.
                              </span></br></br>
            <button style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; width: 26%;">View All Users</button>
          </li>
          <li style="text-align: left; padding-left:2rem; padding-bottom: 0.5rem; border-left: 2px #bebebe solid;">
            Invite via Facebook.</br></br>
            <button href="#" class="facebook left-icon button split smallicon" style="text-transform: none; width:60%;">
              <span></span>Invite Friends
            </button></br></br></br>
            Invite by email. </br>Enter email addresses separated by commas.</br></br>
            <form>
              <input id="searchBox" type="text" style="margin-left:0rem; width: 50%; overflow: auto;">
              <a href="#" class="button tiniest" style="padding: .425rem">Invite</a>
            </form>
          </li>
        </ul>

      </li>
    </ul>

  </div>
</div>
</body>



